In [2]:
#beginning stages of project. exploratory work

In [3]:
import pandas as pd
import numpy as np

In [4]:
stats = pd.read_csv('stats.csv')

In [5]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14573 entries, 0 to 14572
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      14573 non-null  int64
 1   Player  14573 non-null  object
 2   Pos     14573 non-null  object
 3   Age     14573 non-null  int64
 4   Tm      14573 non-null  object
 5   G       14573 non-null  int64
 6   GS      14573 non-null  int64
 7   MP      14573 non-null  float64
 8   FG      14573 non-null  float64
 9   FGA     14573 non-null  float64
 10  FG%     14485 non-null  float64
 11  3P      14573 non-null  float64
 12  3PA     14573 non-null  float64
 13  3P%     12375 non-null  float64
 14  2P      14573 non-null  float64
 15  2PA     14573 non-null  float64
 16  2P%     14419 non-null  float64
 17  eFG%    14485 non-null  float64
 18  FT      14573 non-null  float64
 19  FTA     14573 non-null  float64
 20  FT%     13824 non-null  float64
 21  ORB     14573 non-null  float64
 22  DRB     14573 non-null  float64
 23  TRB     14573 non-null  float64
 24  AST     14573 non-null  float64
 25  STL     14573 non-null  float64
 26  BLK     14573 non-null  float64
 27  TOV     14573 non-null  float64
 28  PF      14573 non-null  float64
 29  PTS     14573 non-null  float64
 30  Year    14573 non-null  object
dtypes: float64(23), int64(4), object(4)
memory usage: 3.4+ MB

In [6]:
stats.describe()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14485.000000,14573.000000,14573.000000,...,13824.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000
mean,244.332876,26.705483,45.544500,21.565429,19.623626,2.932046,6.598586,0.432377,0.590894,1.703637,...,0.726241,0.909984,2.522013,3.429953,1.758114,0.621540,0.390167,1.132368,1.781740,7.853057
std,139.596859,4.252495,26.110389,27.035594,9.957188,2.133970,4.541544,0.104592,0.698191,1.840081,...,0.152562,0.804527,1.766841,2.433847,1.761888,0.439759,0.460479,0.787383,0.826657,5.840447
min,1.000000,18.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,124.000000,23.000000,22.000000,0.000000,11.400000,1.300000,3.100000,0.393000,0.000000,0.100000,...,0.660000,0.300000,1.300000,1.700000,0.500000,0.300000,0.100000,0.600000,1.200000,3.400000
50%,243.000000,26.000000,48.000000,7.000000,18.900000,2.400000,5.500000,0.435000,0.300000,1.100000,...,0.750000,0.700000,2.200000,2.900000,1.200000,0.500000,0.200000,1.000000,1.800000,6.400000
75%,361.000000,30.000000,70.000000,39.000000,27.700000,4.100000,9.200000,0.479000,1.000000,2.800000,...,0.822000,1.300000,3.300000,4.600000,2.300000,0.900000,0.500000,1.500000,2.400000,11.100000
max,605.000000,44.000000,85.000000,83.000000,43.700000,12.200000,27.800000,1.000000,5.300000,13.200000,...,1.000000,6.800000,12.000000,18.000000,12.800000,3.000000,6.000000,5.700000,6.000000,36.100000

In [7]:
stats['Player'].nunique()

2374

# Initial exploratory ideas/questions 
* compare eras --> what are the eras? 
* what stats can be added into the dataframe
    * TS% -> `pts / 2(FGA + (.44 X FTA))`

In [8]:
stats['TS%'] = stats['PTS'] / (2 * (stats['FGA'] + (.44 * stats['FTA'])))

In [21]:
stats[stats['G'] > 58].sort_values(by=['TS%'],ascending=False)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,TS%
14550,589,Robert Williams,C,24,BOS,61,61,29.6,4.4,6.0,...,5.7,9.6,2.0,0.9,2.2,1.0,2.2,10.0,2021-2022,0.750751
14018,195,Rudy Gobert,C,29,UTA,66,66,32.1,5.5,7.7,...,11.0,14.7,1.1,0.7,2.1,1.8,2.7,15.6,2021-2022,0.732532
12947,428,Mitchell Robinson,C,21,NYK,61,7,23.1,4.1,5.6,...,4.0,7.0,0.6,0.9,2.0,0.6,3.2,9.7,2019-2020,0.728666
8950,211,Ryan Hollins,PF,29,LAC,61,0,7.9,0.9,1.2,...,1.0,1.5,0.1,0.1,0.5,0.5,1.4,2.3,2013-2014,0.720551
14396,478,Mitchell Robinson,C,23,NYK,72,62,25.7,3.6,4.8,...,4.5,8.6,0.5,0.8,1.8,0.8,2.7,8.5,2021-2022,0.720339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5579,271,Dominic McGuire,SG,22,WAS,70,1,9.9,0.6,1.5,...,1.2,2.0,0.6,0.3,0.4,0.6,1.1,1.3,2007-2008,0.377907
6036,176,Chuck Hayes,C,25,HOU,71,1,12.1,0.6,1.6,...,2.5,3.5,0.6,0.5,0.3,0.4,1.9,1.3,2008-2009,0.375289
2965,384,Nikoloz Tskitishvili,SF,19,DEN,81,16,16.3,1.4,4.9,...,1.4,2.2,1.1,0.4,0.4,1.0,1.7,3.9,2002-2003,0.371287
2648,101,DeSagana Diop,PF,21,CLE,80,1,11.8,0.7,1.9,...,1.9,2.7,0.5,0.4,1.0,0.7,1.9,1.5,2002-2003,0.361272
4228,50,Ryan Bowen,SF,30,HOU,68,19,9.6,0.5,1.8,...,0.8,1.3,0.4,0.3,0.1,0.2,1.3,1.3,2005-2006,0.344280

In [19]:
stats.sort_values(by=['TS%'], ascending=False)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,TS%
11320,207,Nigel Hayes,SF,23,TOR,2,0,3.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.5,0.0,3.0,2017-2018,1.5
12322,448,Jordan Sibert,SG,26,ATL,1,0,4.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2018-2019,1.5
12062,261,John Jenkins,SG,27,WAS,4,0,3.5,0.5,0.5,...,0.3,0.3,0.3,0.0,0.0,0.0,0.0,1.5,2018-2019,1.5
11151,68,Anthony Brown,SF,25,MIN,1,0,4.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,2017-2018,1.5
11490,344,Naz Mitrou-Long,SG,24,UTA,1,0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2017-2018,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14269,378,C.J. Miles,SG,34,BOS,1,0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2021-2022,NaN
14290,391,Juwan Morgan,PF,24,BOS,1,0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-2022,NaN
14299,398,Ade Murkey,SG,24,SAC,1,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-2022,NaN
14430,502,Chris Silva,PF,25,MIN,1,0,3.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-2022,NaN
14563,599,Moses Wright,PF,23,LAC,1,0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2021-2022,NaN